<div
  class="popup"
  *ngFor="let popup of popups; let i = index"
  [style.top]="popup.position.top"
  [style.left]="popup.position.left"
  (mousedown)="startDrag($event, i)"
  (mousemove)="dragPopup($event, i)"
  (mouseup)="stopDrag(i)"
>
  <div class="popup-header">
    <span>{{ popup.event.title }}</span>
    <button class="close-button" (click)="closePopup(i)">&times;</button>
  </div>
  <div class="popup-body">
    <p><strong>Title:</strong> {{ popup.event.title }}</p>
    <p><strong>Start:</strong> {{ popup.event.start | date: 'shortDate' }} at {{ popup.event.start | date: 'shortTime' }}</p>
    <p><strong>End:</strong> {{ popup.event.end | date: 'shortDate' }} at {{ popup.event.end | date: 'shortTime' }}</p>
    <p><strong>Description:</strong></p>
    <textarea
      [(ngModel)]="popup.description"
      (blur)="saveDescription(i, popup.description)"
      placeholder="Add a description..."
    ></textarea>
  </div>
</div>
